@import '../../variables.scss';

.App {
  background-color: #bdbdbdad;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.game-img {
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 1vw;
  height: 50px;
  margin-top: -40px;
}

.header-background {
  background-color: grey;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  margin-left: 30%;
  font-size: 4vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
