.App {
  background-color: #bdbdbdad;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.game-card{
  color: black;
  background-color: black;
  margin: 12px;
}

button {
  padding: .5vw;
  font-size: 1.3vw;
  background-color: white;
  border: black;
  margin-left: 20%;
  left:65%;
  border-radius: 5px;
}


.title-font {
  color: aliceblue;
  font-size: 23px;
}

.header-favorite{
  margin-left: 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-background {
    background-color:black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 1vw;
    height: 50px;
    margin-top: -40px;
    color: white
}

.header-title {
  color:white;
  font-size: 4vw;
  margin-left: 2%;
}

.App-link {
  color: #61dafb;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.game-img {
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.share-button{
  font-size: smaller;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: dodgerblue;
  outline: none;
}

.search-input {
  width: 30%;
  height: 30px;
  border-radius: 10px;
  margin-top:10px;
  font-size: 20px;
  text-align: center;
  margin-left:10px;
}

.favorite-button{
  background-color: dodgerblue;
  text-align: center;
  margin: auto;
  outline: none;
}

.userName{
  margin:auto;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center
}

.password{
    margin:auto;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center
}

.searchContainer{
  display: flex;
  flex-direction: row;

}

.searchButton {
  text-align: center;
  margin-top: 10px;
  background-color:dodgerblue;
}

.user-entry {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
